groq
python-dotenv
jupyter
rank_bm25
sentence-transformers
streamlit
langchain
langchain-community
langchain-openrouter
langchain-huggingface
faiss-cpu
cohere
PyPDF2
numpy
pandas
pypdf
ragas
openai
pydantic
rouge_score
rapidfuzz
google-search-results   
requests
